{% extends 'base.html.twig' %}
{% block body %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1>Movie List</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Duration</th>
                    <th>Headline</th>
                    <th>LastUpdated</th>
                    <th>Rating</th>
                    <th>ReviewAuthor</th>
                    <th>Year</th>
                    <th>Directors</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('movie_show',  { 'url': movie.url }) }}">{{ movie.id }}</a>
                        </td>
                        <td>
                            <a href="{{ path('movie_show',  { 'url': movie.url }) }}">{{ movie.duration }}</a>
                        </td>
                        <td>
                            <a href="{{ path('movie_show',  { 'url': movie.url }) }}">{{ movie.headline }}</a>
                        </td>
                        <td>
                            {{ movie.lastUpdated|date('Y-m-d') }}
                        </td>
                        <td>
                            {{ movie.rating }}
                        </td>
                        <td>
                            {{ movie.reviewAuthor }}
                        </td>
                        <td>
                            {{ movie.year }}
                        </td>
                        <td>
                            {% for director in movie.getDirectors %}
                                <li style="list-style: none;">{{ director.name }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No movies found
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
        </main>

    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>&copy; Copyright VLD</p>
        </div>
    </footer>

{% endblock %}