{% extends 'base.html.twig' %}

{% block body %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a href="{{ path('homepage') }}" class="nav-link">Back to movie list</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">

            <h1>{{ movie.headline }}</h1>
            <hr>
            {% if movie.body is defined %}
                <p>{{ movie.body }}</p>
                <hr>
            {% endif %}
            <p>year: {{ movie.year }}</p>
            <hr>
            <p>Cert: {{ movie.cert }}</p>
            <hr>
            <p>class: {{ movie.class }}</p>
            <hr>
            <p>Duration: ~= {{ movie.duration|date('H:i', '+00:00 GMT') }} hours</p>
            <hr>
            <p>Quote: {{ movie.quote }}</p>
            <hr>
            {% if movie.rating %}
                <p>Rating: {{ movie.rating }} stars</p>
                <hr>
            {% endif %}
            {% if movie.rating %}
                <p>Review Author: {{ movie.reviewAuthor }}</p>
                <hr>
            {% endif %}

            <p>Sum: {{ movie.sum }}</p>
            <hr>
            <p>Synopsis: {{ movie.synopsis }}</p>
            <hr>
            <p>URL: {{ movie.url }}</p>
            <hr>
            <p>Year: {{ movie.year }}</p>
            <hr>
            <p>Card Image: </p>
            <div class="row">
                {% for cardImages in movie.cardImages %}
                    {% if cardImages %}
                    <div class="box ">
                        <img class="rounded mx-auto d-block img-fluid" src="{{ asset(cardImages.url) }}" />
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <hr>
            <p>Key Art Image: </p>
            {% for keyArtImages in movie.keyArtImages %}
                {% if keyArtImages %}
                    <li style="list-style: none;"><img alt="carImage" src="{{ asset(keyArtImages.url) }}"></li>
                {% endif %}
            {% endfor %}
            <hr>
            {% if movie.videos|length > 0 %}
                <p>Videos: </p>
                {% for video in movie.videos %}
                    <li style="list-style: none;">- {{ video.title }} ({{ video.type }})</li>
                    <li style="list-style: none;">- {{ asset(video.url) }}</li>
                {% endfor %}
                <hr>
            {% endif %}


            {% if movie.galleries|length > 0 %}
                <p>Gallery: </p>
                {% for gallery in movie.galleries %}
                    <li style="list-style: none;">- {{ gallery.title }}</li>
                    <li style="list-style: none;">- {{ gallery.url }}</li>
                    <li style="list-style: none;">- {{ gallery.thumbnailUrl }}</li>
                {% endfor %}
                <hr>
            {% endif %}
            <p>Genre: </p>
            {% for genre in movie.genres %}
                <li style="list-style: none;">- {{ genre }}</li>
            {% endfor %}
            <hr>
            <p>Directors:</p>
            {% for directors in movie.directors %}
                <li style="list-style: none;">- {{ directors.name }}</li>
            {% endfor %}
            <hr>
            <p>Cast:</p>
            {% for cast in movie.cast %}
                <li style="list-style: none;">- {{ cast.name }}</li>
            {% endfor %}
            <hr>
            <p>Viewing window:</p>
            {% if movie.viewingWindow.startDate is defined %}
                <li style="list-style: none;">Start Date: <strong>{{ movie.viewingWindow.startDate }}</strong></li>
            {% endif %}
            {% if movie.viewingWindow.wayToWatch is defined %}
                <li style="list-style: none;">Way to watch: <strong>{{ movie.viewingWindow.wayToWatch }}</strong></li>
            {% endif %}
            {% if movie.viewingWindow.endDate is defined %}
                <li style="list-style: none;">End Date: <strong>{{ movie.viewingWindow.endDate }}</strong></li>
            {% endif %}
            {% if movie.skyGoId %}
                <hr>
                <p>Sky ID: {{ movie.skyGoId }}</p>
            {% endif %}
            {% if movie.skyGoId %}
                <hr>
                <p>Sky URL: {{ movie.skyGoUrl }}</p>
                <hr>
            {% endif %}
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>&copy; Copyright VLD</p>
            </div>
        </footer>
    </div>
{% endblock %}